.footer {
    background-color: #1f8787;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
.footer h4 {
    margin-bottom: 20px;
    color: black;
}
  
.icons .fa {
    color: red;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px;
}
  
.fa-heart-o {
    color: chartreuse;
}
  
.logo img {
    width: 100px;
    height: auto;
}
  
.footer-links {
    display: flex;
    justify-content: space-around;
}
  
.footer-section {
    text-align: center;
}
  
.footer-section h3 {
    font-size: 18px;
    color: black;
}
  
.footer-section ul {
    list-style: none;
    padding: 0;
}
  
.footer-section ul li {
    margin: 10px 0;
}
  
.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
}
  
.footer-section ul li a:hover {
    color: #ffcc00;
}
p{
    color: black;
}