/* Footer.css */

.footer-content {
    background-color:#1f8787; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 20px;
    text-align: center;
}
  
.footer-logo {
    width: 100px; /* Set your desired width for the logo */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
}
  
.quick-links a {
    color: #fff; /* Set your desired link color */
    margin: 0 10px;
    text-decoration: none;
}
  
.quick-links a:hover {
    text-decoration: underline;
}
  