.homepage {
    text-align: center;
    margin: 50px;
    background-image: url('https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&w=400');
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }